name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    name: PHP ${{ matrix.php-versions }} ${{ matrix.composer-args }}
    services:
      mysql:
        image: mysql/mysql-server:5.7
        env:
          MYSQL_DATABASE: zftest
          MYSQL_USER: github
          MYSQL_PASSWORD: githubpass
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=10s --health-retries=10
      postgres:
        image: postgres:10
        env:
          POSTGRES_DB: zftest
          POSTGRES_USER: github
          POSTGRES_PASSWORD: githubpass
        ports:
          - 5432:5432
        options: --health-cmd=pg_isready --health-interval=10s --health-timeout=5s --health-retries=5
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ["8.1", "8.2", "8.3", "8.4", "8.5"]
        composer-args: ["", "--prefer-lowest"]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get branch names.
        id: branch-names
        uses: tj-actions/branch-names@5250492686b253f06fa55861556d1027b067aeb5 # v9
      - name: Setup PHP
        uses: shivammathur/setup-php@2.36.0
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring
          coverage: pcov
          tools: cs2pr
      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: php${{ matrix.php-versions }}-composer-${{ matrix.composer-args }}-${{ hashFiles('**/composer.json') }}
          restore-keys: php${{ matrix.php-versions }}-composer-${{ matrix.composer-args }}-
      - name: Install Dependencies
        env:
          COMPOSER_ROOT_VERSION: "dev-${{ steps.branch-names.outputs.current_branch }}"
        run: |
          composer update --no-progress --no-suggest --prefer-stable --optimize-autoloader ${{ matrix.composer-args }}
      - name: PHPStan
        run: composer phpstan
      - name: Code Style Check
        env:
          PHP_CS_FIXER_IGNORE_ENV: true
        run: composer style-check -- --format=checkstyle | cs2pr
      - name: Test
        run: composer test-with-coverage
      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        with:
          files: ./clover.xml
          verbose: true
